<launch>
    <arg name="__ns" default="arm_1"/>
    <arg name="ip" default="192.168.1.196"/>

    <!-- <include file="$(find library)/launch/multimaster.launch" /> -->
    <include file="$(find xarm7_gripper_moveit_config)/launch/realMove_exec.launch" >
        <arg name="robot_ip" value="$(arg ip)"/>
        <!-- <arg name="ext_ns" value="$(arg __ns)"/> -->
    </include>
    <group ns="$(arg __ns)">
        <include file="$(find library)/launch/vision.launch" >
            <arg name="__ns" value="$(arg __ns)"/>
        </include>
        <include file="$(find library)/launch/transform.launch" />
        <!-- <include file="$(find library)/launch/programs.launch" /> -->
        <!-- <node name="sections_occupied" pkg="library" type="sections_occupied.py" output="screen"/> -->
    </group>
</launch>