<launch>
  
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>

  <node name="sections_occupied" pkg="library" type="sections_occupied.py" output="screen"/>
  <node name="straight_line_motion" pkg="library" type="straight_line_motion.py" output="screen"/>


  </launch>